
@media screen and (max-width: 1024px) {
    header {
        padding: 0px 20px;
    }
    
    .navbar {
        gap: 10px;
    }
    
    .navbar-list {
        gap: 10px;
    }
    
    .box-left h1 {
        font-size: 20px;
    }
    
    .box-left h5 {
        font-size: 16px;
    }
    
    .box-left p {
        font-size: 18px;
        max-width: 90%;
    }
    
    .box-left a {
        font-size: 16px;
        padding: 8px 16px;
    }
    
    #portada {
        padding: 10px;
       
    }
    
    .box-right {
        margin: 10px;
    }
    #info p {
        font-size: 25px;
        max-width: 80%;
        line-height: 1.5;
    }
    
  }
  
  @media screen and (max-width: 768px) {
    header {
        height: 60px;
        padding: 10px 10px;
        max-width: 100%;
    }
    
    .navbar {
        flex-direction: row;
        gap: 5px;
    }
    
    .navbar-list {
        flex-direction: row;
        gap: 5px;
    }
    
    .box-left h1 {
        font-size: 25px;
    }
    
    .box-left h5 {
        font-size: 14px;
    }
    
    .box-left p {
        font-size: 20px;
    }
    
    .box-left a {
        font-size: 14px;
        padding: 8px 12px;
        margin-top: 20px;
    }
    
    #portada {
        flex-direction: column;
        padding: 5px;
        justify-content: center;
        
    }
    
    .box-right {
        display: none;
    }
    #info {
        margin-top: 20px;
    }
    #info p {
        font-size: 20px;
        max-width: 80%;
        line-height: 1.5;
        
    }
  }

  @media screen and (max-width: 470px) {
    header {
        height: auto;
        padding: 0px 0px;
        max-width: 100%;
        margin: 0%;
    }
    .navbar-list {
        margin-right: 70px;
    }
    .box-left {
        padding: 0px 40px;
        margin-left: 0px;
        margin-right: 70px;
    }

    .nav_link {
        width: 60%;
        background-color:initial ;
        text-shadow: rgb(255, 255, 255) 1px 0 0px;

    }
    .cart-icon{
        display: none;
    }
    .box-left a {
        margin-bottom: 18px;
    }
  }

  
  